.benefits {
	min-height: 470px;
	padding: 75px 0 77px 0;
	&__wrapper {
		margin-top: 58px;
		display: flex;
		justify-content: space-between;
	}
	&__icons {
		width: 275px;
		text-align: center;
	}
	&__subtitle {
		margin-top: 37px;
		font-size: 18px;
		font-weight: 500;
	}
	&__descr {
		margin-top: 25px;
		font-size: 15px;
		font-weight: 500;
		line-height: 18px;
		a {
			color: $main-color;
			text-transform: uppercase;
			text-decoration: underline;
		}
	}
	&__pic {
		&_animated {
			animation: heartbeat 1.5s ease infinite;
			&:hover {
				animation-play-state: paused;
			}
		}
	}
}